<%= form_for(@room) do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @room.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">

  <%= form_for @room do |r| %>
  <table>
    <tr>
      <td>* Room name:</td> 
      <td><%= r.text_field :name %></td>
    </tr>
    <tr>
      <td>* Room description:</td> 
      <td><%= r.text_field :description %><td>
    </tr>
  </table>
  <p>
  <%= r.submit %>
    <% end %>  
</div>
<% end %>
